<div class="box-main">
  <app-sidebar style="display: contents;"></app-sidebar>

  <div class="box-content">
    @if (!isLoading) {
    <stf-text [stf-label]="'Gestión de participantes'" [stf-weight]="'700'" [stf-size]="'subtitle'"
      [stf-color]="'black'"></stf-text>
    <div class="box-filters">
      <div class="box-search-text">
        <input [(ngModel)]="participantWanted" placeholder="Buscar participante ..." type="text"
          class="input-search-text">
        <span (click)="getParticipants()" class="material-symbols-outlined search-btn">search</span>
      </div>
      <button (click)="openModalAddParticipant()" class="btn-add">Agregar participante</button>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre de participante</th>
            <th>Dni</th>
            <th class="field-celular">Celular</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of participants">
            <td>{{request.nombres}} {{request.apellido_paterno}} {{request.apellido_materno}}</td>
            <td>{{request.dni}}</td>
            <td class="field-celular">{{request.n_celular}}</td>
            <td style="text-align: center;">
              <span (click)="openModalEditParticipant(request.id)"
                class="material-symbols-outlined icon-edit">edit</span>
              <span (click)="deleteParticipant(request.id)" class="material-symbols-outlined icon-delete">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="pagination.totalQuantity" class="box-paginator">
      <stf-pagination [totalEntries]="pagination.totalQuantity"
        (pageChange)="pageChangedPagination($event)"></stf-pagination>
    </div>
    }

    @if (isLoading){
    <div class="general-box-loading">
      <div *ngIf="isLoading" class="loader"></div>
    </div>
    }
  </div>
</div>

<app-modal-add-participant></app-modal-add-participant>
<app-modal-warning></app-modal-warning>
<app-modal-edit-participant></app-modal-edit-participant>
<app-modal-delete-participant></app-modal-delete-participant>
