<div class="backdrop" *ngIf="isOpen">
    <div class="modal">
        <span class="material-symbols-outlined icon-close" (click)="close(null)">close</span>

        <div class="box-content">
            <h2>Buscar ubigeo</h2>

            <div class="box-filters">
                <div class="box-search-text">
                    <input [(ngModel)]="ubigeoWanted" placeholder="Buscar ubigeo ..." type="text"
                        class="input-search-text">
                    <span (click)="getUbigeo()" class="material-symbols-outlined search-btn">search</span>
                </div>
            </div>

            <table class="box-table">
                <thead>
                    <th>
                        Id
                    </th>
                    <th>
                        Departamento
                    </th>
                    <th>
                        Provincia
                    </th>
                    <th>
                        Distrito
                    </th>
                    <th style="text-align: center;">
                        Acciones
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let ubigeo of ubigeos">
                        <td>{{ubigeo.ubigeo_reniec}}</td>
                        <td>{{ubigeo.departamento}}</td>
                        <td>{{ubigeo.provincia}}</td>
                        <td>{{ubigeo.distrito}}</td>
                        <td style="text-align: center;">
                            <span (click)="chooseUbigeo(ubigeo)" class="material-symbols-outlined"
                                style="cursor: pointer;">check_circle</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="box-paginator">
                <ng-container *ngIf="numSequence(+pagination.last_page).length<=4">
                    <div *ngFor="let page of numSequence(+pagination.last_page); index as i" class="item-paginator"
                        [ngStyle]="{'background-color': (i+1===pagination.current_page) ? '#1B84FF' : '#fff',
                        'color': (i+1===pagination.current_page) ? '#fff' : '#000'}"
                        (click)="i+1!==pagination.current_page?getUbigeo(i+1):null">
                        {{i+1}}
                    </div>
                </ng-container>
                <ng-container *ngIf="numSequence(+pagination.last_page).length>4">
                    <div *ngIf="pagination.current_page>1" class="item-paginator" [ngStyle]="{'background-color': '#fff',
                    'color': '#000'}" (click)="getUbigeo(pagination.current_page-1)">
                        {{pagination.current_page-1}}
                    </div>
                    <div class="item-paginator" [ngStyle]="{'background-color': '#fff',
                        'color': '#000'}">
                        {{pagination.current_page}}
                    </div>
                    <div *ngIf="pagination.current_page<pagination.last_page" class="item-paginator" [ngStyle]="{'background-color': '#fff',
                    'color': '#000'}" (click)="getUbigeo(pagination.current_page+1)">
                        {{pagination.current_page+1}}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>