<div class="box-main">
  <app-sidebar style="display: contents;"></app-sidebar>

  <div class="box-content">
    @if (!isLoading) {
    <stf-text [stf-label]="'Gestión de clubes'" [stf-weight]="'700'" [stf-size]="'subtitle'"
      [stf-color]="'black'"></stf-text>

    <div class="box-filters">
      <div class="box-search-text">
        <input [(ngModel)]="clubWanted" placeholder="Buscar club ..." type="text" class="input-search-text">
        <span (click)="getClubs()" class="material-symbols-outlined search-btn">search</span>
      </div>
      <button (click)="openModalAddClub()" class="btn-add-club">Agregar club</button>
    </div>

    <div class="table-container">
      <table>
        <colgroup>
          <col>
          <col>
        </colgroup>
        <thead>
          <th>
            Nombre de club
          </th>
          <th>
            Acciones
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let request of clubs">
            <td>{{request.name}}</td>
            <td style="text-align: center;">
              <span (click)="openModalEditClub(request.id)" class="material-symbols-outlined icon-edit-club">edit</span>
              <span (click)="deleteClub(request.id)" class="material-symbols-outlined icon-delete-club">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box-paginator">
      <stf-pagination [totalEntries]="pagination.totalQuantity"
        (pageChange)="pageChangedPagination($event)"></stf-pagination>
    </div>
    }

    @if (isLoading){
    <div class="general-box-loading">
      <div *ngIf="isLoading" class="loader"></div>
    </div>
    }
  </div>
</div>

<app-modal-add-club></app-modal-add-club>
<app-modal-edit-club></app-modal-edit-club>
<app-modal-delete-club></app-modal-delete-club>
<app-modal-warning></app-modal-warning>
