<div class="box-main">
  <app-sidebar style="display: contents;"></app-sidebar>

  <div class="box-content">
    @if (!isLoading) {
    <stf-text [stf-label]="'Gestión de usuarios'" [stf-weight]="'700'" [stf-size]="'subtitle'"
      [stf-color]="'black'"></stf-text>

    <div class="box-filters">
      <div class="box-search-text">
        <input [(ngModel)]="userWanted" placeholder="Buscar usuario ..." type="text" class="input-search-text">
        <span (click)="getUsers()" class="material-symbols-outlined search-btn">search</span>
      </div>
      <button (click)="openModalAddUser()" class="btn-add-user">Agregar usuario</button>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <th>Nombres</th>
          <th class="field-username">Nombre de usuario</th>
          <th>Rol</th>
          <th class="field-region">Región</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let request of users">
            <td>{{request.name}}</td>
            <td class="field-username">{{request.username}}</td>
            <td>{{request.role_name}}</td>
            <td class="field-region">{{request.region_name||'Global'}}</td>
            <td style="text-align: center;">
              <span (click)="openModalEditUser(request.id)" class="material-symbols-outlined icon-edit-user">edit</span>
              <span (click)="deleteUser(request.id)" class="material-symbols-outlined icon-delete-user">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box-paginator">
      <stf-pagination [totalEntries]="pagination.totalQuantity"
        (pageChange)="pageChangedPagination($event)"></stf-pagination>
    </div>
    }

    @if (isLoading){
    <div class="general-box-loading">
      <div *ngIf="isLoading" class="loader"></div>
    </div>
    }
  </div>
</div>

<app-modal-user></app-modal-user>
<app-modal-warning></app-modal-warning>
<app-modal-delete-user></app-modal-delete-user>
<app-modal-edit-user></app-modal-edit-user>
