<div class="box-main">
  <app-sidebar style="display: contents;"></app-sidebar>

  <div class="box-content">
    @if (!isLoading) {
    <stf-text [stf-label]="'Gestión de centro estudios'" [stf-weight]="'700'" [stf-size]="'subtitle'"
      [stf-color]="'black'"></stf-text>
    <div class="box-filters">
      <div class="box-search-text">
        <input [(ngModel)]="centroWanted" placeholder="Buscar centro estudios ..." type="text"
          class="input-search-text">
        <span (click)="getCentros()" class="material-symbols-outlined search-btn">search</span>
      </div>
      <button (click)="openModalAddCentro()" class="btn-add">Agregar centro estudios</button>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <th>Nombres</th>
          <th class="field-distrito">Ubigeo distrito</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let request of centros">
            <td>{{request.nombre}}</td>
            <td class="field-distrito">{{request.ubigeo_distrito}}</td>
            <td style="text-align: center;">
              <span (click)="openModalEditCentro(request.id)" class="material-symbols-outlined icon-edit">edit</span>
              <span (click)="deleteCentro(request.id)" class="material-symbols-outlined icon-delete">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="pagination.totalQuantity" class="box-paginator">
      <stf-pagination [totalEntries]="pagination.totalQuantity"
        (pageChange)="pageChangedPagination($event)"></stf-pagination>
    </div>
    }

    @if (isLoading){
    <div class="general-box-loading">
      <div *ngIf="isLoading" class="loader"></div>
    </div>
    }
  </div>
</div>
<app-modal-warning></app-modal-warning>
<app-modal-add-centro-estudio></app-modal-add-centro-estudio>
<app-modal-edit-centro-estudio></app-modal-edit-centro-estudio>
<app-modal-delete-centro-estudio></app-modal-delete-centro-estudio>
