<div class="backdrop" *ngIf="isOpen">
  <div class="modal">
    <span class="material-symbols-outlined icon-close" (click)="close(false)">close</span>

    <h3 class="title-form">Agregar nueva región</h3>
    <form [formGroup]="regionForm" action="" class="box-form-request" (ngSubmit)="addRegion()">
      <div class="box-singular-item">
        <label for="name">Nombre</label>
        <input type="text" formControlName="name">
        <div
          *ngIf="regionForm.controls.name.invalid && (regionForm.controls.name.dirty || regionForm.controls.name.touched)"
          class="display-errors">
          <app-display-input-validation-message [type]="regionForm.controls.name.errors">
          </app-display-input-validation-message>
        </div>
      </div>
      <button type="submit" [disabled]="!regionForm.valid" class="btn-add">Agregar</button>
    </form>
  </div>
</div>
<app-modal-warning></app-modal-warning>
